Package: vyatta-eventmon
Source: vyatta-eventmon (0.1)
Version: 999.dev
Architecture: all
Maintainer: Jon Andersson <jon.andersson@thalesgroup.com>
Installed-Size: 224
Depends: vyatta-cfg, vyatta-bash | bash (>= 3.1), vyatta-op
Section: contrib/net
Priority: extra
Description: event-handler implementation
