*~
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/control
/debian/files
/debian/vyatta-eventwatch
/debian/vyatta-eventwatch.debhelper.log
/debian/vyatta-eventwatch.substvars
/INSTALL
/Makefile.in
/Makefile
/VERSION
*.[ao]
*.l[ao]
*-stamp
