Source: vyatta-eventwatch
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake, cpio
Standards-Version: 3.7.2

Package: vyatta-eventwatch
Architecture: all
Depends: eventwatchd,
 vyatta-cfg,
 vyatta-bash | bash (>= 3.1),
 sudo
Description: Vyatta/VyOS/EdgeOS eventwatchd integration package
 This package contains config and op mode templates for eventwatchd integration

